<div class="modal-css"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>{{title}}</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-content">
    </div>
  </div>
</div>
