div(id="modalify-container",data-modalify-container,class="modalify-css",aria-hidden="true")
  div.modalify-dialog
    div.modalify-header
      h2(data-modalify-title)
      a(href="javascript:modalify.close()",data-modalify-action,data-modalify-close,class="btn-close",aria-hidden="true") ×
    div(data-modalify-content,class="modalify-content")