div(id="modalify-container",data-modal-container,class="modal-css",aria-hidden="true")
  div.modal-dialog
    div.modal-header
      h2(data-modal-title)
      a(href="#close",data-modal-close,class="btn-close",aria-hidden="true") ×
    div(data-modal-content,class="modal-content")