div(id="modalify-container",data-modalify-container,class="modal-css",aria-hidden="true")
  div.modal-dialog
    div.modal-header
      h2(data-modal-title)
      a(href="#modalify-close",data-modalify-action,data-modalify-close,class="btn-close",aria-hidden="true") ×
    div(data-modal-content,class="modal-content")